#tour-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  gap: 100px;
}
#tour-text {
  width: 358px;
}
#tour-text h4 {
  font-size: 24px;
  margin: 0;
  color: #ababab;
}

#tour-text h2 {
  font-size: 48px;
}
#tour-map img {
  width: 692px;
  height: 845px;
  border-radius: 30px;
  transition: 0.3s;
}
#tour-map img:hover {
  box-shadow: 0px 0px 44px -10px rgba(0, 0, 0, 0.75);
  scale: 1.03;
}
